<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PROCESO ELECTORAL</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">PROCESO ELECTORAL</a></h1>
            <p>Examen septiembre 2016 PW</p>
        </div>
        <div class="content container">
            {% if user.is_authenticated %}
                <p>Bienvenido a la pagina, <b><i>{{ user.username }}</i></b>.</p>
                {% if user.username == "gestor" %}
                    <p><a href="/logout">Logout</a> ||
                    <a href="/partidos">Ir a partidos</a> ||
                    <a href="/agrupaciones">Ir a agrupaciones</a> ||
                    <a href="/militantes">Ir a militantes</a></p>
                {% else %}
                    <p><a href="/logout">Logout</a> ||
                    <a href="/partidos">Ir a partidos</a> ||
                    <a href="/agrupaciones">Ir a agrupaciones</a></p>
                {% endif %}
            {% else %}
                <p>Te damos la bienvenida, <b><i>Invitado</i></b>. Por favor, logeate.</p>
                <p><a href="/login">Login</a></p>
                <p><a href="/partidos">Ir a partidos</a></p>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
